.spin-wrapper {
    padding: 12px
}

aside .active {
    font-weight: bolder;
}

.avar {
    margin-left: 24px !important;
    margin-top: 10px !important;
    display: block !important;
    background-color: var(--nube-green) !important;
    cursor: pointer;
}

.settings-dropdown {
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
        0 3px 14px 2px rgb(0 0 0 / 12%);
    border-radius: 4px;
    min-width: 220px !important;
    left: 24px !important;
}

.settings-dropdown>ul>li:first-child {
    min-height: 50px;
    border-top: unset;
}

.settings-dropdown>ul>li {
    min-height: 50px;
    border-top: 1px solid var(--nube-light-grey);
}

.ant-menu-submenu-title,
.ant-menu-sub>.ant-menu-item {
    height: 24px !important;
    line-height: 24px !important;
    font-size: small;
}

.supervisors-menu>.ant-menu-submenu-title>.ant-menu-item-icon,
.supervisors-menu>.ant-menu-sub>.ant-menu-item>.ant-menu-item-icon {
    margin-left: -22px !important;
}

.disconnect-menu>.ant-menu-submenu-title,
.disconnect-menu>.ant-menu-sub>.ant-menu-item {
    color: #d46b08;
}

.disconnect-menu>.ant-menu-submenu-title:hover,
.disconnect-menu>.ant-menu-sub>.ant-menu-item:hover {
    color: #fa8c16 !important;
}

.ant-menu-submenu-active.ant-menu-submenu-selected>.ant-menu-submenu-title,
.ant-menu-submenu-active.ant-menu-submenu-selected>.ant-menu-submenu-title:hover {
    background-color: #177ddc;
    font-weight: bolder;
}

/* make icon center div */
.ant-menu.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title .anticon {
    height: 24px !important;
    line-height: 24px !important;
    margin: auto !important;
}

#versions-dropdown {
    z-index: 1000 !important;
    background-color: rgba(32, 32, 32, 255) !important;
}